body {
    background: rgb(228, 233, 235);
    /* margin: 20px; */
}

.container {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px;
    height: 600px;
    align-self:  center;
    grid-template-areas: 
        "header header"
        "nav nav"
        "section section"
        "article article"
        "footer footer"
}

header {
    background: rgb(206, 52, 52);
    grid-area: header;
}
nav {
    grid-area: nav;
    background: rgb(206, 52, 52);

}
article {
    grid-area: article;
    background: rgb(206, 52, 52);

}
section {
    background: rgb(206, 52, 52);    
    grid-area: section
}
aside {
    background: #123;
}
footer {
    background: rgb(206, 52, 52);    
    grid-area: footer;
}
@media(min-width: 700px) {
    .container {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 20px;
        width: 100%;
        background: rgb(208, 226, 190);
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* grid-template-rows: 100px 100px 100px 100px; */
        grid-gap: 10px;
        grid-template-areas: 
            "header header header"
            "nav section section"
            "article article article"
            "footer footer footer"
    }  
    header,article, main, footer,nav,section {
        background: rgb(22, 91, 218);
    }

    
}
@media(min-width: 1000px) {
    .container{
        max-width: 900px;
    }
    header,article, main, footer,nav,section {
        background: rgb(22, 218, 71);
    }
    
}
